.Avatar {
  position: relative;
  display: flex;
  inline-size: calc(var(--spacing) * 8);
  block-size: calc(var(--spacing) * 8);
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 50%;
}

.Image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.Fallback {
  display: flex;
  inline-size: 100%;
  block-size: 100%;
  align-items: center;
  justify-content: center;
  background-color: oklch(from var(--background) calc(l - 0.1) c h);
  border-radius: 50%;
  font-size: 12px;
  color: var(--foreground);
}

.Group {
  display: flex;
  align-items: center;
  justify-content: center;
  & .Avatar {
    box-shadow: 0 0 0 calc(var(--spacing) / 1.5) var(--background);
  }
  & > .Avatar:not(:first-child) {
    margin-inline-start: calc(var(--spacing) * -4);
  }
}
