.button {
  --bg: var(--primary);
  --fg: var(--primary-foreground);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 0.75);
  padding-inline: calc(var(--spacing) * 2);
  block-size: 2rem;

  font-size: 0.875rem;
  font-weight: 500;
  white-space: nowrap;
  color: var(--fg);
  background-color: var(--bg);
  border: 1px solid transparent;
  border-radius: var(--radius);

  cursor: pointer;
  user-select: none;
  outline: none;
  transition:
    background-color var(--duration),
    color var(--duration),
    opacity var(--duration),
    border-color var(--duration),
    text-underline-offset calc(var(--duration) / 2);

  &:hover:not(:disabled) {
    background-color: oklch(from var(--bg) l c h / 0.8);
  }
  &:focus-visible {
    border-color: var(--primary);
    outline: 3px solid var(--focus);
    outline-offset: 2px;
  }
  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  & svg:not([class*="size-"]) {
    inline-size: 1rem;
    block-size: 1rem;
    flex-shrink: 0;
    pointer-events: none;
  }
}

.button[data-color="secondary"] {
  --bg: var(--secondary);
  --fg: var(--secondary-foreground);
}
.button[data-color="danger"] {
  --bg: var(--danger);
  --fg: var(--danger-foreground);
}

.button[data-variant="outline"] {
  background-color: transparent;
  color: var(--bg);
  border-color: var(--bg);
  &:hover:not(:disabled) {
    background-color: oklch(from var(--bg) l c h / 0.05);
  }
}
.button[data-variant="ghost"] {
  background-color: transparent;
  color: var(--bg);
  &:hover:not(:disabled) {
    background-color: oklch(from var(--bg) l c h / 0.1);
  }
}
.button[data-variant="link"] {
  background-color: transparent;
  color: var(--bg);
  text-underline-offset: 0.1rem;
  &:hover:not(:disabled) {
    background-color: transparent;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
  }
}

.button[data-size="sm"] {
  block-size: 1.5rem;
  font-size: 0.75rem;
  padding-inline: var(--spacing);
  gap: calc(var(--spacing) * 0.5);
  & svg:not([class*="size-"]) {
    inline-size: 0.75rem;
    block-size: 0.75rem;
  }
}
.button[data-size="lg"] {
  block-size: 2.25rem;
  padding-inline: calc(var(--spacing) * 2.5);
}
.button[data-size="icon"] {
  inline-size: 2rem;
  padding: 0;
}
.button[data-size="icon-sm"] {
  inline-size: 1.5rem;
  block-size: 1.5rem;
  font-size: 0.75rem;
  padding: 0;
  & svg:not([class*="size-"]) {
    inline-size: 0.75rem;
    block-size: 0.75rem;
  }
}
.button[data-size="icon-lg"] {
  inline-size: 2.25rem;
  block-size: 2.25rem;
  font-size: 1rem;
  padding: 0;
  & svg:not([class*="size-"]) {
    inline-size: 1.25rem;
    block-size: 1.25rem;
  }
}

.button[data-shape="pill"] {
  border-radius: 100svh;
}
.button[data-shape="circle"] {
  border-radius: 50%;
}
.button[data-shape="sharp"] {
  border-radius: 0;
}
