@import "./theme.css";
@import "./reset.css";

:root {
  --background: var(--surface);
  --foreground: var(--content);

  --primary: var(--brand);
  --primary-foreground: var(--contrast);

  --secondary: var(--accent);
  --secondary-foreground: var(--contrast);

  --danger: var(--alert);
  --danger-foreground: var(--contrast);

  --muted: oklch(from var(--content) l c h / 0.1);
  --muted-foreground: oklch(from var(--content) l c h / 0.6);

  --focus: oklch(from var(--primary) l c h / 0.5);
  --border: oklch(from var(--content) l c h / 0.2);

  --duration: 200ms;
  --spacing: 0.25rem;

  --shadow: 2px 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.4);
}

html {
  font-size: 16px;
}
body {
  background-color: var(--background);
  color: var(--foreground);
}
