.Switch {
  --bg: var(--foreground);
  --w: calc(10 * var(--spacing));
  --h: calc(6 * var(--spacing));

  display: block;
  inline-size: var(--w);
  block-size: var(--h);
  border-radius: 100svh;
  padding: 2px;
  border: 1px solid var(--bg);
  cursor: pointer;
  opacity: 0.7;
  background-color: transparent;
  transition: opacity var(--duration) ease-in-out;

  &[data-checked] {
    opacity: 1;
  }

  & .thumb {
    display: block;
    block-size: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--bg);
    transition: translate var(--duration) ease-in-out;

    &[data-checked] {
      translate: calc(var(--w) - var(--h)) 0;
    }
  }

  &[data-color="primary"] {
    --bg: var(--primary);
  }

  &[data-color="secondary"] {
    --bg: var(--secondary);
  }

  &[data-color="danger"] {
    --bg: var(--danger);
  }

  &[data-size="sm"] {
    --w: calc(6 * var(--spacing));
    --h: calc(3.5 * var(--spacing));
  }

  &[data-size="lg"] {
    --w: calc(16 * var(--spacing));
    --h: calc(8 * var(--spacing));
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid var(--focus);
    outline-offset: 2px;
  }
}
