.Pagination {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  justify-content: center;
}

.Content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.Item {
  /* No specific styles needed for the wrapper li, but good to have the hook */
}

/* 
   We don't need to duplicate all button styles here because we will compose
   the Button component in the React implementation. 
   However, we might need specific overrides for the Previous/Next buttons 
   if they differ from standard buttons.
*/

.Previous,
.Next {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

/* Sm breakpoint logic for hiding text */
.TextLabel {
  display: none;
}

@media (min-width: 640px) {
  .TextLabel {
    display: block;
  }
  
  .Previous {
    padding-left: 0.625rem;
  }
  
  .Next {
    padding-right: 0.625rem;
  }
}

.Ellipsis {
  display: flex;
  height: 2.25rem; /* size-9 = 2.25rem */
  width: 2.25rem;
  align-items: center;
  justify-content: center;
}

.Ellipsis svg {
  width: 1rem;
  height: 1rem;
}
